body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

input {
    width: 10vw;
    height: 20vh;
    border: 1vh solid rgb(32, 31, 31);
    background-color: red;
    font: 8vw sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../imgs/circuitBoard.svg");
    background-color: black;
}

.input {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.display {
    display: flex;
    width: 99vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
    border: 0.4vw solid green;
    font: 4vw sans-serif;
}

#sub {
    font-size: 3vw;
    background-color: aqua;
}

#number {
    color: rgb(255, 255, 255);
}